@model ML.Aseguradora
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aseguradora</h2>


<div class="row">
    <div class="col-md-12">
        <h5>Seleccione una aseguradora para editarla o (+) para agregar...</h5>
        <hr />
    </div>

</div>

@*<div class="row">*@
<div style="float:right;">
    @Html.ActionLink("+", "Form", "Aseguradora", htmlAttributes: new { @class = "btn btn-success" })
</div>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Editar</td>
            <td class="hidden">IdAseguradora</td>
            <td>Nombre</td>
            <td>Fecha de Creacion</td>
            <td>Fecha de Modificacion</td>
            <td>Usuario (UserName)</td>
            <td>Imagen</td>
            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Aseguradora aseguradora in Model.Aseguradoras)
        {
            <tr>
                <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Aseguradora", new { IdAseguradora = aseguradora.IdAseguradora })"></a></td>
                <td class="hidden">@aseguradora.IdAseguradora</td>
                <td>@aseguradora.Nombre</td>
                <td>@aseguradora.FechaCreacion</td>
                <td>@aseguradora.FechaModificacion</td>
                <td>@aseguradora.Usuario.UserName</td>
                @if (aseguradora.Imagen != null)
                {
                    <td><img src="data:image/jpeg;base64,@Convert.ToBase64String(aseguradora.Imagen)" style=" height: 100px; width: 130px;" /></td>
                }
                else
                {
                    <td><img src="~/Content/ImageNotFound.jpg" style=" height:150px; width:150px;" /></td>
                }
                <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Aseguradora", new { IdAseguradora = aseguradora.IdAseguradora })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
            </tr>
        }




    </tbody>
</table>